In [9]:
import pandas as pd
import csv
import psycopg2

In [6]:
df_clinical_trials = pd.read_csv('clinical_trials_data.csv')
df_clinical_trials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   trial_id                20 non-null     object
 1   trial_name              20 non-null     object
 2   principal_investigator  20 non-null     object
 3   start_date              20 non-null     object
 4   end_date                20 non-null     object
 5   trial_description       20 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [8]:
df_imaging_result = pd.read_csv('imaging_results_data.csv')
df_imaging_result.head()

,result_id,patient_id,imaging_type,imaging_date,image_url,findings
0,d6512f4c-fe56-4de7-89d9-f072a71c8405,880d69bb-7095-4d51-9f77-230918917712,Ultrasound,2022-10-07,https://picsum.photos/962/635,Himself partner line man. Push my security pos...
1,df1b9af1-0581-48cb-ac08-0f5fee150e7b,9a08913d-d3a1-4a7d-a451-e982d808d796,CT scan,2021-12-20,https://picsum.photos/94/437,Event important film process resource. City ab...
2,c1676af3-6bc0-4690-8f09-116bdc6c9d46,30f597fd-279a-4246-864d-d8536536d718,CT scan,2023-05-23,https://placekitten.com/624/697,Improve plan give event. Including include the...
3,a81c5a0d-eb55-406a-9279-a2728db88ece,f67c152c-7ebe-4ea5-b8ec-e44084527404,MRI,2021-06-29,https://picsum.photos/780/724,Next end serve especially by next. Tonight pie...
4,310a7453-1ded-4728-8da6-78e7842e02ca,5394d07a-8df7-4e81-b2c2-d44153f0f08c,Ultrasound,2021-07-12,https://dummyimage.com/618x326,Firm that remain site enter. Music event respo...

In [10]:
df_lab_result = pd.read_csv('lab_results_data.csv')
df_lab_result.head()

,result_id,patient_id,test_name,test_date,test_result,reference_range
0,86088654-6821-45ac-bb7d-d42cac2f09d2,25520327-05c9-43d8-b6dd-5043158902a8,Blood Test,2024-01-14,century,realize
1,f3131eb8-ae64-4622-b8fd-e3094e952f21,7a0dcf47-49d7-467c-a768-bb9e4cb10269,Genetic Screening,2024-01-09,free,so
2,fddc31ac-7b46-4380-ac72-21b066183d6e,75d546c8-d75a-42ac-9b34-90871c72f107,Blood Test,2024-01-14,move,put
3,eeb5991e-b5e2-4b3b-b40b-552083c32307,26c481b8-3ce7-4e8e-bbd6-39875f66939a,Blood Test,2024-01-10,summer,must
4,92597123-730e-4e2c-bddf-e7b11e0b6c0e,8dfbd690-2849-4eee-8f0b-569141bb3254,Genetic Screening,2024-01-03,effort,whom

In [11]:
df_medical_records = pd.read_csv('lab_results_data.csv')
df_medical_records.head()

,result_id,patient_id,test_name,test_date,test_result,reference_range
0,86088654-6821-45ac-bb7d-d42cac2f09d2,25520327-05c9-43d8-b6dd-5043158902a8,Blood Test,2024-01-14,century,realize
1,f3131eb8-ae64-4622-b8fd-e3094e952f21,7a0dcf47-49d7-467c-a768-bb9e4cb10269,Genetic Screening,2024-01-09,free,so
2,fddc31ac-7b46-4380-ac72-21b066183d6e,75d546c8-d75a-42ac-9b34-90871c72f107,Blood Test,2024-01-14,move,put
3,eeb5991e-b5e2-4b3b-b40b-552083c32307,26c481b8-3ce7-4e8e-bbd6-39875f66939a,Blood Test,2024-01-10,summer,must
4,92597123-730e-4e2c-bddf-e7b11e0b6c0e,8dfbd690-2849-4eee-8f0b-569141bb3254,Genetic Screening,2024-01-03,effort,whom

In [12]:
df_patients_data = pd.read_csv('medical_records_data.csv')
df_patients_data.head()

,record_id,patient_id,admission_date,discharge_date,diagnosis,treatment_description,prescribed_medications
0,d3d60902-6978-4165-89f2-5d91773c1203,c7c9cdc2-b8a8-43ba-965e-b6eca49829c0,2023-02-16,2024-01-02,behavior,Describe teach bit. Season eat effect informat...,Determine ago form scientist tough. Marriage m...
1,8e8cdc5c-cf21-455b-8826-9c6c03ea6662,4be39931-fc23-46f3-a77a-b26b4e5e1437,2020-09-02,2024-01-15,talk,Good guy force behavior ok. Gas great be publi...,Understand bar parent receive experience profe...
2,e0999e46-ba68-4c4c-a816-782f549c682f,9aacf358-7647-4ad5-8466-36b41abdc8d9,2022-05-26,2024-01-09,kitchen,Center head strategy eye hundred likely risk.\...,Wide mother war Mrs plant. But single research...
3,393a827e-9ded-4ac3-9f25-7b1f0f2524d9,fbfd1e32-73e1-4097-8536-8a1cac9c8a74,2020-09-04,2024-01-06,like,Generation hundred analysis on attention hit f...,Car place whole chair. Say interest site under...
4,23c4d6c3-ea07-4f54-8a46-029d174acd6f,87b10108-d217-4199-afba-b1486770ea56,2023-12-15,2024-01-02,ability,Quality ever for in. Of someone hope agency to...,Again character determine like exist of. Decid...

In [13]:
df_trial_participant = pd.read_csv('medical_records_data.csv')
df_trial_participant.head()

,record_id,patient_id,admission_date,discharge_date,diagnosis,treatment_description,prescribed_medications
0,d3d60902-6978-4165-89f2-5d91773c1203,c7c9cdc2-b8a8-43ba-965e-b6eca49829c0,2023-02-16,2024-01-02,behavior,Describe teach bit. Season eat effect informat...,Determine ago form scientist tough. Marriage m...
1,8e8cdc5c-cf21-455b-8826-9c6c03ea6662,4be39931-fc23-46f3-a77a-b26b4e5e1437,2020-09-02,2024-01-15,talk,Good guy force behavior ok. Gas great be publi...,Understand bar parent receive experience profe...
2,e0999e46-ba68-4c4c-a816-782f549c682f,9aacf358-7647-4ad5-8466-36b41abdc8d9,2022-05-26,2024-01-09,kitchen,Center head strategy eye hundred likely risk.\...,Wide mother war Mrs plant. But single research...
3,393a827e-9ded-4ac3-9f25-7b1f0f2524d9,fbfd1e32-73e1-4097-8536-8a1cac9c8a74,2020-09-04,2024-01-06,like,Generation hundred analysis on attention hit f...,Car place whole chair. Say interest site under...
4,23c4d6c3-ea07-4f54-8a46-029d174acd6f,87b10108-d217-4199-afba-b1486770ea56,2023-12-15,2024-01-02,ability,Quality ever for in. Of someone hope agency to...,Again character determine like exist of. Decid...